createdAt: "2020-12-23T12:36:26.432Z"
updatedAt: "2020-12-24T07:57:54.853Z"
type: "MARKDOWN_NOTE"
folder: "2cbd187a875ba3883242"
title: "类加载"
tags: []
content: '''
  # 类加载
  
  ##  基本概念
  
  JVM将 字节码加载到内存（JDK8及以前加载到方法区，之后元数据区），经过验证、准备、解析、初始化，最终转化为堆中Class对象的过程 称为类加载
  
  
  ## 类生命周期
  
  类的生命周期包含加载、连接（验证、准备、解析）、初始化、使用、卸载 等阶段。阶段存在交叠，重合，并不是完全顺序的过程。
  
  类加载 包含 加载、连接（验证、准备、解析）、初始化等三个阶段
  
  
  
  ## 
  
  
  
  
  [一文带你深扒ClassLoader内核，揭开它的神秘面纱！](https://www.sohu.com/a/436313969_427741)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
