createdAt: "2020-12-17T11:50:01.540Z"
updatedAt: "2020-12-19T23:20:04.616Z"
type: "MARKDOWN_NOTE"
folder: "7aeedd67bc6c0a7b9661"
title: "Decorator"
tags: []
content: "# Decorator"
linesHighlighted: []
isStarred: false
isTrashed: true
