createdAt: "2020-12-02T01:53:14.766Z"
updatedAt: "2020-12-02T01:56:24.215Z"
type: "MARKDOWN_NOTE"
folder: "519177323b9b1554eb7a"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
