createdAt: "2021-01-24T02:47:09.112Z"
updatedAt: "2021-01-24T02:47:18.198Z"
type: "MARKDOWN_NOTE"
folder: "7aeedd67bc6c0a7b9661"
title: "Iterator"
tags: []
content: '''
  # Iterator
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
