createdAt: "2020-12-12T14:32:21.627Z"
updatedAt: "2020-12-12T14:32:30.024Z"
type: "MARKDOWN_NOTE"
folder: "7aeedd67bc6c0a7b9661"
title: "Facade"
tags: []
content: '''
  # Facade
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
