createdAt: "2020-12-12T15:22:52.443Z"
updatedAt: "2020-12-12T15:26:45.897Z"
type: "MARKDOWN_NOTE"
folder: "7aeedd67bc6c0a7b9661"
title: "设计模式原则"
tags: []
content: '''
  # 设计模式原则
  
  ## 开闭原则
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
